<!DOCTYPE html>
<html>
   <head>
      <title>HTML Links</title>
   </head>

   <body>
   		<div>
      	<a href="http://127.0.0.1:5000"><i class="fas fa-home"></i>Back to Home</a>
      </div>
   		<h1>out patient clinics</h1>
   	<div>>
   		<a href="http://127.0.0.1:5000/Risk_Assess_clinics">Risk_Assessment Form</a><br><br>
   	</div>
      <div>>
         <a href="{{ url_for('.download_report3') }}">Generate Risk_Assessment Report</a><br><br>
      </div>
      <div>>
        <a href="http://127.0.0.1:5000/clinics_equipment"><i class="fas fa-home"></i>Clinics Equipment</a>
      </div>
   </body>
      
</html>