<!DOCTYPE html>
<html>
    <head>
        <style>
        body{
            background-image: url("../static/design3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }</style>
        <meta charset="utf-8">
        <title>Login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <div class="login">
            <h1>Login</h1>
            <div class="links">
                <!--<a href="http://127.0.0.1:5000/index" class="active">Login</a>-->

                <a href="http://127.0.0.1:5000/register">Register</a>
            </div>
            <form action="/index" method="POST"> <br><br>
                <label for="username">
                    <i class="fas fa-user"></i>
                </label>
                <input type="text" name="username" placeholder="Username" id="username" required><br><br>
                <label for="password">
                    <i class="fas fa-lock"></i>
                </label>
                <input type="password" name="password" placeholder="Password" id="password" required><br><br>
                <div class="msg"></div>
                <input type="submit" value="Login">
            </form>
        </div>
    </body>
</html>